
.land-content{
  width: 100%;
  background-color:#13171a;

}


.zigzags{
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;

}



.header1 {
  /* Your existing styles */
  opacity: 0; /* Set initial opacity to 0 */
  transform: translateY(-20px); /* Set initial transform to move it up */
  transition: opacity 0.8s, transform 0.8s; /* Add transition properties */
  align-items: center;
  width: 100%;
}

/* Apply the styles when the element is in view */
.header1.aos-animate {
  opacity: 1; /* Fade in the element */
  transform: translateY(0); /* Move the element back to its original position */
}


.hero{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  place-items: center;
  display: grid;
  margin: 0;
}

.marquee-item {
  flex-shrink: 0;
  width: 200px; /* Adjust the width of each image */
  margin-right: 20px; /* Adjust the spacing between images */
}

.marquee-item img {
  width: 100%;
  height: auto;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-430%); }
}
.logo-home{
  width: 100vh;
  position: relative;
  z-index: 10;
  top: -25%;
  transform: translateY(-50%);
}
.logo-div{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.border-line {
  height: 1px;
  background-color: #e0e0e0;
}

.headzig{
  margin-bottom: 5rem;
}

.blue{
  position: absolute;
  inset: 0;
  z-index: 0;
 
}
.clouds{
  position: absolute;
  inset: 0;
  z-index: 20;
  align-items: center;
}
.max-w-6xl {
  max-width: 72rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.marquees{
  margin-bottom: 10rem;
  margin: 0 20px;
}

@media (max-width: 1200px) {
  .logo-home {
    width: 80vh;
    position: relative;
    z-index: 10;
    top: -15%;
    transform: translateY(-50%);
  }
}

@media (max-width: 768px) {
  .logo-home {
    width: 60vh;
    position: relative;
    z-index: 10;
    top: -15%;
    transform: translateY(-50%);
  }
}

@media (max-width: 480px) {
  .logo-home {
    width: 40vh;
    position: relative;
    z-index: 10;
    top: -35%;
    transform: translateY(-50%);
  }
}

@media (max-width: 768px) {
  .hero {
    height: 80vh;
    overflow: hidden;
    position: relative;
    place-items: center;
    display: grid;
    margin: 0;
  }

  .logo-div {
    height: 80vh;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 100vh;
    overflow: hidden;
    position: relative;
    place-items: center;
    display: grid;
    margin: 0;
  }

  .logo-div {
    height: 60vh;
  }
}

@media (max-width: 768px) {


  .hero {
    place-items: start;
    padding-top: 2rem;
    overflow: hidden;
    position: relative;
    place-items: center;
    display: grid;
    margin: 0;
  }

  .logo-div {
    justify-content: start;
  }
}

@media (min-width: 640px) {
  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .md\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.border-t {
  border-top-width: 1px;
}

.border-gray-800 {
  border-color: #2d3748;
}
.max-w-3xl {
  max-width: 48rem;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.marqueehead{
  text-align: center;
  align-items: center;
  margin-bottom: 3rem;
}
.text-center {
  text-align: center;
}
.zigzags img {
  width: 100%;/* Set a maximum width for the image */
}

@media (max-width: 768px) {
  .zigzags img {
    width: 90%;/* Reduce the max width for smaller screens */
  }
}

.blue img {
  width: 100%;/* Set a maximum width for the image */
}

@media (max-width: 768px) {
  .blue img {
    width: 90%;/* Reduce the max width for smaller screens */
  }
}

.pb-12 {
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .md\:pb-20 {
    padding-bottom: 5rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .max-w-3xl {
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .max-w-3xl {
    max-width: 720px;
  }
  .pb-20 {
    padding-bottom: 5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .max-w-3xl {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .max-w-3xl {
    max-width: 1140px;
  }
}
.max-w-3xl h2 {
  font-size: 3rem;
  color: #fff;
}

.mb-4{
  margin-bottom: 5rem;
  
}

.text-xl {
  font-size: 1.25rem;
}
.items{
  margin-top: 10vh;
}
.text-gray-400 {
  color: #fff;
}
.logo3{
  width: 15rem;
  top: 10%;
  align-items: center;
}


.section_header{
  margin-bottom: 15vh;
  margin-top: 10vh;
}
.max-w-sm {
  max-width: 20rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.gap-8 {
  gap: 2rem;
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:max-w-2xl {
    max-width: 42rem;
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:gap-16 {
    gap: 4rem;
  }

  .lg\:max-w-none {
    max-width: none;
  }
}

.items-start {
  align-items: flex-start;
}
.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
.w-16 {
  width: 4rem;
}

.h-16 {
  height: 4rem;
}

.mb-4 {
  margin-bottom: 1rem;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .mb-4 {
    margin-bottom: 1.25rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .mb-4 {
    margin-bottom: 1.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mb-4 {
    margin-bottom: 1.75rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .mb-4 {
    margin-bottom: 2rem;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  color: #fff;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.icon1{
  width: 5rem;
}
.iconrcs{
  height:4rem;
}
.sc{
  width: 40rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .md\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.border-t {
  border-top-width: 1px;
}

.border-gray-800 {
  border-color: red;
}
.max-w-3xl {
  max-width: 48rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.pb-12 {
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .md\:pb-16 {
    padding-bottom: 4rem;
  }
}
.inline-flex {
  display: inline-flex;
}

.text-sm {
  font-size: 0.875rem;
}

.font-semibold {
  font-weight: 600;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.m-2 {
  margin: 0.5rem;
}

.text-green-600 {
  color: #cbd5e0 ;
}

.bg-green-200 {
  background-color: rgba(253, 5, 5, 0.836);
}

.rounded-full {
  border-radius: 9999px;
}

.mb-4 {
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: 1rem;
  
}

.mb-4 {
  margin-bottom: 1rem;
  color: #cbd5e0;
}
.text-xl {
  font-size: 1.25rem;
}

.text-gray-400 {
  color: #cbd5e0;
}
.grid {
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .md\:grid {
    display: grid;
  }
  
  .md\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin-top: 2rem;
  }
  
  .md\:gap-6 {
    gap: 1.5rem;
  }
  
  .items-center {
    align-items: center;
  }
}
.max-w-xl {
  max-width: 36rem;
}

.md\:max-w-none {
  max-width: none;
}

.md\:w-full {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.md\:col-span-5 {
  grid-column: span 5 / span 5;
}

.lg\:col-span-6 {
  grid-column: span 6 / span 6;
}

.mb-8 {
  margin-bottom: 2rem;
}

.md\:mb-0 {
  margin-bottom: 0;
}

.md\:order-1 {
  order: 1;
}
.max-w-xl {
  max-width: 36rem;
}

.md\:max-w-none {
  max-width: none;
}

.md\:w-full {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.md\:col-span-7 {
  grid-column: span 7 / span 7;
}

.lg\:col-span-6 {
  grid-column: span 6 / span 6;
}


.font-architects-daughter {
  font-family: "Architects Dau", cursive;
}

.text-xl {
  font-size: 1.25rem;
}

.text-purple-600 {
  color: rgba(253, 5, 5, 0.836);
}

.mb-2 {
  margin-bottom: 0.5rem;
}
h3 {
  margin-bottom: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
  color: #cbd5e0;
}
.text-xl {
  font-size: 1.25rem;
}

.text-gray-400 {
  color: #cbd5e0;
}

.mb-4 {
  margin-bottom: 1rem;
}
.text-lg {
  font-size: 1.125rem;
}

.text-gray-400 {
  color: #cbd5e0;
}

.-mb-2 {
  margin-bottom: -0.5rem;
}
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.mb-2 {
  margin-bottom: 0.5rem;
}
.w-3 {
  width: 0.75rem;
}

.h-3 {
  height: 0.75rem;
}

.fill-current {
  fill: currentColor;
}

.text-green-500 {
  color: rgba(223, 192, 16, 0.836);
}

.mr-2 {
  margin-right: 0.5rem;
}

.shrink-0 {
  flex-shrink: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex-basis: 30%;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}


.footer-section p {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.social-media a {
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}


.card {
  border-radius: 25px;
  position: relative;
  text-align: center;
  padding: 25px 15px;
  background-color: #da2a33;
  margin: 50px 0;
  margin-left: 300px;
  margin-right: 300px;
  height: 370px;
  box-shadow: 0 2px 5px #e2c0c0;
  color: #cbd5e0;
}

.card p{
  font-size: 70px;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  text-align: center;
}

.name {
  font-size: 2em;
  color: #edeff0;
  align-items: center;
}

.bottom {
  margin-top: 120px;
}

.info {
  margin: 20px 0;
  color: rgb(243, 250, 248);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #da2a33;
    margin: 50px 0;
    height: 400x;
    box-shadow: 0 2px 5px #e2c0c0;
    color: #cbd5e0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #da2a33;
    margin: 50px 0;
    height: 400px;
    box-shadow: 0 2px 5px #e2c0c0;
    
    color: #cbd5e0;
  }
}




